@property --pattern-seed {
    syntax: "<number>";
    initial-value: 1000;
    inherits: true;
  }
  
  @property --pattern-colors {
    syntax: "<color>#";
    initial-value: #161511, #dd6d45, #f2f2f2;
    inherits: true;
  }
  
  @property --pattern-speck-count {
    syntax: "<number>";
    initial-value: 3000;
    inherits: true;
  }
  
  @property --pattern-speck-min-size {
    syntax: "<number>";
    initial-value: 0;
    inherits: true;
  }
  
  @property --pattern-speck-max-size {
    syntax: "<number>";
    initial-value: 3;
    inherits: true;
  }
  
  body {
    margin: 0;
  }
  
  .worklet-canvas {
    width: 100vw;
    height: 100vh;
    background-color: #0d0f0e;
    background-image: paint(tinySpecksPattern);
  }